/node_modules
/public/hot
/public/storage
/public/assets/css/css-out
/storage/*.key
/vendor
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vs
/public/assets/css/admin.css.map
/public/assets/css/style.css.map
/public/mix.js.map
.env
webpack.mix.js
composer.lock
/access.zip
/archive.zip
/audiogurus.zip